<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_area :name %>
  </div>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_area :lastname %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :landmark, style: "display: block" %>
    <%= form.text_area :landmark %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_area :city %>
  </div>

  <div>
    <%= form.label :pincode, style: "display: block" %>
    <%= form.number_field :pincode %>
  </div>

    <div>
      <%= form.label :contact_number, style: "display: block" %>
      <%= form.number_field :contact_number %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
